.player {
  display: inline-block;
  margin:3px;
}
.table {
  display: table;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  width: 25px;
  height: 25px;
}

.player-type-human .table-cell.ship {
  background-color: blue;
}

.player-type-pc .table-cell.ship,
.player-type-pc .table-cell {
  background-color: lightblue;
}

.table-cell.ship.dead {
  background-color: red;
}

.table-cell.emptyFire {
  background-color: gray;
}